{
  "hdt": {
    "dataset": {
      "default_graphs": ["IRI"],
      "named_graphs": ["IRI"]
    },
    "graphs": [
      {
        "file": "FILE",
        "name": "IRI"
      }
    ]
  },
  "tmp-directory": "DIRECTORY"
}
